<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

<p>Query set:</p>
{{ member }}

<table border = '1'>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
    </tr>
    {% for x in member %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
    </tr>
    {% endfor %}
</table>

{% for i in member %}
    <h1>{{ i.id }}</h1>
    <p>
        {{ i.firstname }}
    </p>
{% endfor %}
<p>For the Checking</p>

</body>
</html>